* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    
}

.child {
    width: 20%;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}